{% extends 'database/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<center>
    <h1>Deschide Tichet</h1>
    </br>
    {% if submitted %}
        Tichetul a fost deschis cu succes!
    {% else %}
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p }}

        <input type="submit"
               type="submit"
               class="btn btn-secondary">

    </form>
    {% endif %}
</center>
{% else %}
<h1>Trebuie sa fi logat ca sa poti accesa continutul!</h1>
<a href="{% url 'login'%}" class="btn btn-secondary ">Aici te poti loga.</a>
{% endif %}

{% endblock %}}