{% extends 'database/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<h1>Clienti</h1>

{% for client in clients %}
<a href="{% url 'show-client' client.id %}">
<div class="card">
  <div class="card-header">
   Cod client: {{client.id }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Nume client: {{client.name }}</h5>
    <p class="card-text">
      <a href="{%url 'update-client' client.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
      <a href="{%url 'delete-client' client.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
    </p>
  </div>
</div>
</a>

{% endfor %}
<hr>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
{% if clients.has_previous %}
	<li class="page-item"><a class="page-link" href="?page=1">&laquo Prima</a></li>
	<li class="page-item"><a class="page-link" href="?page={{ clients.previous_page_number }}">Inapoi</a></li>
{% endif %}
{% for i in nums %}
	<li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
{% endfor %}
{% if clients.has_next %}
	<li class="page-item"><a class="page-link" href="?page={{ clients.next_page_number }}">Urmatoarea</a></li>
	<li class="page-item"><a class="page-link" href="?page={{ clients.paginator.num_pages }}">Ultima &raquo</a></li>
{% endif %}
 </ul>
</nav>
<br/>
<hr>
{% else %}
<h1>Trebuie sa fi logat ca sa poti accesa continutul!</h1>
<a href="{% url 'login'%}" class="btn btn-secondary ">Aici te poti loga.</a>
{% endif %}
{% endblock %}}